<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaunsheep.agsdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addgraphicsrenderer.AddGraphicsRenderer" />
        <activity android:name=".addgraphicssymbol.AddGraphicsSymbol" />
        <activity android:name=".arcgismapimagelayer.MapImageLayerUrl" />
        <activity android:name=".arcgistiledfromurl.TiledLayerFromUrl" />
        <activity android:name=".arcgisvectortiledlayerurl.VectorTiledlayerFromUrl" />
        <activity android:name=".blendrenderer.BlendRendererActivity" />
        <activity android:name=".changebasemap.ChangeBaseMapActivity" />
        <activity android:name=".changefeaturelayerrenderer.ChangeFeatureLayerRendererActivity" />
        <activity android:name=".changesublayervisible.ChangeSublayerVisibleActivity" />
        <activity android:name=".changeviewpoint.ChangeViewPointActivity" />
        <activity android:name=".colormaprenderer.ColormapRendererActivity" />
        <activity android:name=".creategeometry.CreateGeometriesActivity"></activity>
    </application>

</manifest>